body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #3e4a61;
  min-width: 400px;
  max-width: 40%;
}

h1 {
  margin: 10px;
  font-size: xx-large;
  text-transform: capitalize;
}

.line2 {
  color: #c24d2c;
  font-weight: 700;
  font-size: xx-large;
}

.All {
  padding: 15px 15px 0px 15px;
  margin: 15px;
  max-width: 600px;
  background-color: #d9dad754;
}

.todayDate {
  font-size: normal;
  font-weight: 600;
  padding: 5px;
  background-color: #c24d2c;
  color: #fff;
  margin: 0;
}

.search {
  display: block;
  margin: 10px 2px;
}

#form-search-btn {
  padding: 5px 12px;
  border-radius: 5px;
  margin: 0px 0px;
  background-color: #fff;
  border-color: #c24d2c;
  border-width: 1px;
  color: #c24d2c;
}

.today {
  display: block;
  margin: 20px auto;
}

#todayIcon {
  width: 40%;
  margin: 10px 0;
}

#celsius {
  text-decoration: none;
}
#fahrenheit {
  text-decoration: none;
}

.able {
  color: #c24d2c;
  font-size: x-large;
  position: relative;
  top: -6px;
}

#description {
  font-weight: bold;
  font-size: normal;
}

#todays-description {
  margin-top: 20px;
}
.realFeel {
  font-size: normal;
  font-weight: 400;
  text-transform: capitalize;
}

.dayCard {
  padding: 5px;
  font-size: small;
  line-height: 18px;
  background-color: #3e4a61;
  border-width: 1px;
  border-color: #3e4a61;
  border-radius: 4px;
  color: #fff;
  min-height: 95px;
}

.dateCard {
  line-height: small;
}

.cardIcon {
  margin: 10px 0;
  max-height: 30px;
}

.dayTemp {
  font-size: large;
  font-weight: 600;
}

.nightTemp {
  font-size: large;
}

.gitHubLink {
  display: block;
  font-size: xx-small;
  margin-top: 15px;
  color: #3e4a61;
}
